.btn-danger {
  width: 65px;
  height: 30px;
  margin-left: 0.6rem;
  margin-bottom: 0.6rem;
  background-color: red;
  color: white;
  border: none;
  padding: 0.2rem 0.6rem 0.4rem 0.6rem;
  cursor: pointer;
  border-radius: 0.3rem;
  transition: background-color 0.3s;
}